body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #657cff, #000000, #ffffff);
  background-size: 200% 200%;
  
  color: #fff;
}

.encabezado_amistoso {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  padding: 10px 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.bloque_superior {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo_titulo_amistoso {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo_amistoso {
  width: 70px;
  border-radius: 50%;
  filter: drop-shadow(0 0 8px #00a6ff);
}

.titulo_amistoso {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 0 8px #007bff;
  margin: 0;
}

.menu_amistoso {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.menu_amistoso a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  transition: all 0.3s ease;
}

.menu_amistoso a:hover {
  text-shadow: 0 0 8px #00a6ff;
}

.texto_central {
  margin-top: 120px;
}

.texto_central h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;

}

.resaltado_amistoso {
  color: #ffffff;
}

.contenedor_formulario {
  display: flex;
  justify-content: center;
  width: 100%;
}

.formulario_amistoso {
  background-color: #ffffff;
  width: 420px;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  color: #000;
}

.etiqueta_campo {
  font-weight: 600;
  color: #333;
  display: block;
  margin-bottom: 5px;
}

.entrada_campo, .entrada_area {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  font-size: 1rem;
}

.entrada_campo:focus, .entrada_area:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px #007bff;
}

.boton_guardar, .boton_enviar {
  width: 160px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  padding: 10px;
  color: white;
  transition: all 0.3s ease;
}

.boton_guardar {
  background: linear-gradient(90deg, #007bff, #0048ff);
}

.boton_guardar:hover {
  background: linear-gradient(90deg, #0048ff, #001f70);
  transform: scale(1.05);
}

.boton_enviar {
  background: linear-gradient(90deg, #28a745, #116f2b);
}

.boton_enviar:hover {
  background: linear-gradient(90deg, #1e7e34, #0d4b1f);
  transform: scale(1.05);
}

.redes_amistoso a {
  color: white;
  margin: 0 10px;
  font-size: 1.6em;
  transition: transform 0.3s ease, color 0.3s ease;
}

.redes_amistoso a:hover {
  transform: scale(1.2);
  color: #00a6ff;
}

.pie_amistoso {
  font-size: 0.9rem;
  color: #ddd;
  text-align: center;
  margin-bottom: 20px;
}

@keyframes fondo_animado {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
