body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #657cff, #000000, #ffffff);
  background-size: 200% 200%;
  color: #fff;
}

.encabezado {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  padding: 10px 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.bloque_encabezado {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo_titulo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo_imagen {
  width: 70px;
  height: auto;
  border-radius: 50%;
  filter: drop-shadow(0 0 8px #00a6ff);
}

.titulo_principal {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 0 8px #007bff;
  margin: 0;
}

.menu_opciones {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.menu_opciones a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  transition: all 0.3s ease;
}

.menu_opciones a:hover {
  color: #ffffff;
  text-shadow: 0 0 8px #00a6ff;
}

.texto_cabecera h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;

}

.resaltado {
  color: #ffffff;
}

.campo_buscador {
  width: 60%;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 8px;
  border: none;
  padding: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.tarjeta_torneo {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 15px;
  color: #000;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tarjeta_torneo:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(0, 100, 255, 0.4);
}

.boton_unirse {
  background: linear-gradient(90deg, #007bff, #0048ff);
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  padding: 8px 0;
  width: 100%;
  transition: all 0.3s ease;
}

.boton_unirse:hover {
  background: linear-gradient(90deg, #0048ff, #001f70);
  transform: scale(1.05);
}

.bloque_redes a {
  color: white;
  margin: 0 10px;
  font-size: 1.6em;
  transition: transform 0.3s ease, color 0.3s ease;
}

.bloque_redes a:hover {
  transform: scale(1.2);
  color: #00a6ff;
}

.pie_pagina {
  font-size: 0.9rem;
  color: #ddd;
  text-align: center;
  margin-bottom: 20px;
}

@keyframes fondo_animado {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
