body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #657cff, #000000, #ffffff);
  background-size: 200% 200%;

  color: #fff;
}

@keyframes moverDegradado {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.encabezado_registro {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  padding: 10px 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.bloque_superior_registro {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo_titulo_registro {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo_registro {
  width: 70px;
  height: auto;
  border-radius: 50%;
  filter: drop-shadow(0 0 8px #00a6ff);
}

.titulo_registro {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 0 8px #007bff;
  margin: 0;
}

.menu_registro {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.menu_registro a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  transition: all 0.3s ease;
}

.menu_registro a:hover {
  color: #ffffff;
  text-shadow: 0 0 8px #00a6ff;
}

.texto_central_registro h1 {
  font-size: 2rem;
  color: #ffffff;

  margin-top: 120px;
}

.resaltado_registro {
  color: #ffffff;
}

.contenedor_registro {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 50px;
}

.tarjeta_registro {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 15px;
  width: 260px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tarjeta_registro:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(0, 100, 255, 0.4);
}

.imagen_tarjeta {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.contenido_tarjeta {
  padding: 15px;
  color: #000;
  text-align: center;
}

.contenido_tarjeta h4 {
  font-weight: bold;
  color: #007bff;
}

.enlace_tarjeta {
  text-decoration: none;
  color: inherit;
}

.redes_registro a {
  color: white;
  margin: 0 10px;
  font-size: 1.6em;
  transition: transform 0.3s ease, color 0.3s ease;
}

.redes_registro a:hover {
  transform: scale(1.2);
  color: #00a6ff;
}

.pie_registro {
  font-size: 0.9rem;
  color: #ddd;
  text-align: center;
  margin-bottom: 20px;
}

.imagen_cuenta {
    pointer-events: none;
    position: relative;
    z-index: 0;
}
