body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #657cff, #000000, #ffffff);
  background-size: 200% 200%;

  color: #fff;
}

@keyframes fondo_animado {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.encabezado_admin {
 width: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  padding: 10px 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.bloque_superior_admin {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo_titulo_admin {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo_admin {
  width: 70px;
  height: auto;
  border-radius: 50%;
  filter: drop-shadow(0 0 8px #00a6ff);
}

.titulo_admin {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}

.menu_admin {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.menu_admin a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  transition: all 0.3s ease;
}

.menu_admin a:hover {
  color: #ffffff;
  text-shadow: 0 0 8px #ffffff;
}

.contenido_principal_admin {
  margin-top: 120px;
  text-align: center;
  width: 100%;
}

.texto_central_admin h2 {
  font-size: 2rem;
  color: #ffffff;

}

.resaltado_admin {
  color: #ffffff;
}

.imagen_admin {
  margin-top: 20px;
  width: 100px;
  border-radius: 50%;
  box-shadow: 0 0 15px #007bff;
}

.contenedor_formulario_admin {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.formulario_admin {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 15px;
  width: 90%;
  max-width: 450px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  color: #000;
  padding: 30px;
}

.etiqueta_dato {
  font-weight: bold;
  color: #007bff;
  margin-bottom: 5px;
  display: block;
}

.campo_dato {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  margin-bottom: 15px;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.campo_dato:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.4);
}

.botonera_admin {
  text-align: center;
}

.botonera_admin button {
  background-color: #007bff;
  color: white;
  font-weight: 600;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

.botonera_admin button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.redes_admin {
  margin-top: 20px;
}

.redes_admin a {
  color: white;
  margin: 0 10px;
  font-size: 1.6em;
  transition: transform 0.3s ease, color 0.3s ease;
}

.redes_admin a:hover {
  transform: scale(1.2);
  color: #00a6ff;
}

.pie_admin {
  font-size: 0.9rem;
  color: #ddd;
  text-align: center;
  margin: 20px 0;
}
